@import url("https://fonts.googleapis.com/css?family=Sniglet");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
.App {
  text-align: center;
}

.App-loading {
  animation: App-logo-spin infinite 20s linear;
  height: 80vmin;
}
.footer {
  background-color: #282c34;
  border-radius: 3px;
  /* line-height: 0.5; */
}
.footer-text {
  color: crimson;
  font-family: "Sniglet", cursive;
  /* font-size: 1.2em; */
}
.footer-link:hover {
  color: crimson;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Dropdown-root {
  line-height: 1.3;
}
.col-centered {
  float: none;
  /* margin: 0 auto !important; */
}

.padding-outer {
  padding: 2em;
}

.padding-inner {
  padding: 0.5em;
}
.cardcont {
  border-radius: 5px;
  background-color: rgba(23, 26, 25, 0.85);
  border: 2px solid blanchedalmond;
}
.cardcont-f {
  border-radius: 5px;
  background-color: rgba(23, 26, 25, 0.85);
  border: 2px solid blanchedalmond;
  margin-bottom: 0.5em;
}
/* .pagination .page-item.active .page-link {
  background-color: crimson;
  border: crimson;
}
.pagination .page-item.active .page-link:hover {
  background-color: crimson;
} */
.meta-data {
  font-family: "Sniglet", cursive;
  color: whitesmoke;
  padding: 0.1rem !important;
}
.meta-data-element {
  display: block;
}
.meta-data-val {
  font-family: "Sniglet", cursive;
  color: whitesmoke;
  font-size: 1rem;
}
.movie-title {
  text-transform: uppercase;
  font-weight: bold;
  color: whitesmoke;
  font-size: 2.2rem;
}
.label {
  font-family: "Sniglet", cursive;
  color: crimson;
  font-weight: bold;
  font-size: 1rem;
}
.label-val {
  font-family: "Sniglet", cursive;
  color: rgba(223, 241, 255, 0.865);
  font-weight: bold;
}
.overview {
  color: whitesmoke;
}
.subtitles {
  color: crimson;
  font-size: 1.3rem;
  display: flex;
}
.prod {
  color: whitesmoke;
  font-size: 1rem;
}
.movies-tb-header {
  font-family: "Sniglet", cursive;
  color: crimson;
  font-size: 1.3rem;
}
.table th,
.table td {
  padding: 0.35rem !important;
  vertical-align: middle !important;
  border-top: 1px solid #dee2e6;
}
.movie-meta-data {
  font-family: "Sniglet", cursive;
  color: whitesmoke;
  font-size: 1.2rem;
  display: table-cell;
  text-align: left;
  vertical-align: middle !important;
  margin: 0 auto !important;
}
.title {
  color: lightseagreen;
}
.title:hover {
  color: steelblue;
}
.genre {
  line-height: 0.6;
}
.rate {
  color: goldenrod;
}
.pages {
  position: relative;
  height: 100%;
  margin: 1rem !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pagination {
  justify-content: center;
}

.navbrand {
  font-family: "Pacifico", cursive;
  color: crimson !important;
  font-size: calc(1em + 1vw) !important;
}
.navbar-text {
  text-align: center;
  margin: 0 auto;
  font-family: "Pacifico", cursive;
  color: crimson !important;
  font-size: calc(1em + 1vw) !important;
}
.nav {
  background: #282c34 !important;
  border-radius: 3px;
}

.btn-circle {
  width: 40px;
  height: 40px;
  border-radius: 45px !important;
}
.info {
  text-align: center;
  margin: 0 auto;
}

.modal-title {
  text-align: center;
  margin: 0 auto;
  font-family: "Pacifico", cursive;
  color: crimson !important;
  font-size: calc(0.8em + 1vw) !important;
  line-height: 1;
}

.modal-body {
  text-align: left;
  margin: 0 auto;
  font-family: "Sniglet", cursive;
  color: crimson !important;
  background: #282c34;
  font-size: calc(0.5em + 1vw) !important;
}
.modal-dialog {
  background: red;
  margin: 0 auto !important;
}
