@import url("https://fonts.googleapis.com/css?family=Sniglet");
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
.footer {
  background-color: darkslategray;
  border-radius: 3px;
  /* line-height: 0.5; */
}
.footer-text {
  color: whitesmoke;
  font-family: "Sniglet", cursive;
  /* font-size: 1.2em; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Dropdown-root {
  line-height: 1.3;
}
.col-centered {
  float: none;
  margin: 0 auto;
}

.padding-outer {
  padding: 2em;
}

.padding-inner {
  padding: 0.5em;
}
.cardcont {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.75);
  border: 2px solid blanchedalmond;
}
.cardcont-f {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.75);
  border: 2px solid blanchedalmond;
  margin-bottom: 0.5em;
}
.meta-data {
  font-family: "Sniglet", cursive;
  color: whitesmoke;
  padding: 0.1rem !important;
}
.meta-data-element {
  display: block;
}
.meta-data-val {
  font-family: "Sniglet", cursive;
  color: whitesmoke;
  font-size: 1rem;
}
.movie-title {
  text-transform: uppercase;
  font-weight: bold;
  color: whitesmoke;
  font-size: 2.2rem;
}
.label {
  font-family: "Sniglet", cursive;
  color: crimson;
  font-weight: bold;
  font-size: 1rem;
}
.label-val {
  font-family: "Sniglet", cursive;
  color: rgba(223, 241, 255, 0.865);
  font-weight: bold;
}
.overview {
  color: whitesmoke;
}
.subtitles {
  color: crimson;
  font-size: 1.3rem;
  display: flex;
}
.prod {
  color: whitesmoke;
  font-size: 1rem;
}
.movies-tb-header {
  font-family: "Sniglet", cursive;
  color: crimson;
  font-size: 1.3rem;
}
.table th,
.table td {
  padding: 0.35rem !important;
  vertical-align: middle !important;
  border-top: 1px solid #dee2e6;
}
.movie-meta-data {
  font-family: "Sniglet", cursive;
  color: whitesmoke;
  font-size: 1.2rem;
  display: table-cell;
  text-align: left;
  vertical-align: middle !important;
  margin: 0 auto !important;
}
.title {
  color: lightseagreen;
}
.title:hover {
  color: steelblue;
}
.genre {
  line-height: 0.6;
}
.rate {
  color: goldenrod;
}
.pages {
  margin: 1rem;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
